html {
  font-size: 14px;
}

a:focus-visible, button:focus-visible {
  outline: 0.1rem solid #000000;
}

a:link {
  color: #473144;
}

/* visited link */
a:visited {
  color: #473144;
}

/* mouse over link */
a:hover {
  color: #473144;
}

/* selected link */
a:active {
  color: #473144;
}

input:focus-visible {
  outline: 0.15rem solid #EFC69B;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px #ececec inset;
}

/* Container styling */
.i-container {
  border-radius: 25px;
  display: grid;
  gap: 20px; /* Space between items */
  padding-top: 2rem;
  max-width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr)); /* Responsive grid */
}

@media (max-width: 768px) {
  .i-container {
      padding-top: 0px;
  }
}

/* Image container styling */
.i-study-pic-container {
  display: grid;
  background-color: white;
  border-radius: 1.5rem;
  margin: 0 auto;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;  /* Prevent images from overflowing container */
}

.i-study-pic-container img {
  max-width: 100%;  /* Ensure image scales to fit container */
  max-height: 100%; /* Ensure image scales to fit container */
  aspect-ratio: 16 / 9;
  object-fit: cover;  /* Crop image if necessary to fill container */
  object-position: center;  /* Center the image if cropped */
  border-radius: 1.3rem 1.3rem;
}

/* Hover effects */
.glow-back {
  transition-duration: 0.4s;
  z-index: 60;
}

.glow-back:hover {
  transform: scale(1.03); /* Enlarge the image on hover */
  box-shadow: 0 4px 6px 7px rgba(0, 0, 0, 0.1); /* Add shadow for glow effect */
  z-index: 70; /* Ensure image stays on top */
}

.body-inner {
  width: 100%;
  background-color: #f6f6f6;
}

.container-fluid {
  vertical-align: middle;
  height: 6rem;
}

.search-form {
  position: relative;
  margin: 1.5rem;
}

.search-input {
  padding: 0.85rem;
  font-size: 1.1rem;
  border: none;
  background-color: #ececec;
  border-radius: 2rem;
  width: 20.8rem
}

.padded {
  padding: 2rem;
}

.bar {
  width: 22.42rem;
  padding: 0.85rem;
  margin-left: 0px;
}

.small-in {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.search-button {
  padding: 10px 15px;
  font-size: 1.2rem;
  color: rgb(50, 50, 50);
  background-color: #EFC69B;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: background 0.3s;
}

.mar-1 {
  margin-left: 1rem;
}

.search-button:hover {
  background-color: #DF9B6D;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .sidebar {
    display: flex;
    color: white;
    background-color: #AF1B3F;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15rem;
    box-shadow: 0 7rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .body-inner {
    margin-left: 15rem;
  }

  .filler {
    height: 38.2vh;
  }

  .filler-2 {
    height: 11.8vh;
  }

  header {
    background-color: white;
  }

  .mob {
    display: none;
  }

  .search-form {
    left: 15rem;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
  }

  .desk {
    display: none;
  }

  header{
    background-color: #AF1B3F;
  }

  .menu-in input, .header-buttons {
    display: none;
  }
  
  label {
    position: relative;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    background-size: 4rem;
    margin: 1rem;
    background-image: url("../images/icons/menu.jpg");
    vertical-align: middle;
    margin-left: auto;
  }

  .menu {
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
  }
  
  .menu-in input:checked~.header-buttons {
    display: block;
    position: absolute;
    top: 6rem;
    right: 1rem;
    background-color: #AF1B3F;
    border-radius: 0.6rem;
    padding: 1rem 1rem 0 1rem;
  }
}

header {
  width:100vw;
  height: 6rem;
  position: fixed;
  left: 0;
  box-shadow: 0.4rem 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.container {
  padding-top: 6rem;
}

.logo-mobile img {
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  background-color: #AF1B3F;
  vertical-align: middle;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #DF9B6D;
  border-color: #473144;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px 0px 0px 0px;
  display: flex;
  font-family: Arial, sans-serif;
}

.foot {
  width: auto;
  padding: 2rem;
  text-align: center;
  vertical-align: middle;
}

h1 {
  margin: 1rem 0;
  color: #473144;
}

p {
  margin-top: 0px;
}

.ab {
  position: absolute;
}

.al-cen {
  align-self: center;
}

.sidebar-icon {
  text-decoration: none;
}

.sidebar-icon img {
  height: 2rem;
  width: 2rem;
}

.header-buttons {
  color: white;
  align-items: left;
  margin-top: 2rem;
}

.sidebar-text {
  margin-left: 1rem;
  text-decoration: none;
}

.side-item {
  margin-bottom: 1rem;
}

.beige {
  color: #EFC69B;
}

.hid {
  display: none;
}

.tag-box {
  display: none;
}

.tag-box-check input:checked~.tag-box {
  display: block;
  position: relative;
  background-color: #EFC69B;
  border-radius: 0.6rem;
  padding: 1rem 1rem 0 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}