<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FocusFinderApp</title>
    <script type="importmap"></script>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FocusFinderApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="sidebar">
        <div class="sidebar-container">
            <a class="logo-hoverable" href="/">
                <img src="../images/icons/ff-logo.jpg" alt="Logo" asp-area="" asp-controller="Home" asp-action="Index" width="100%" height="100%">
            </a>
            <h2 class="al-cen">
                FocusFinder
            </h2>
            <div class="header-buttons">
                @if (ViewBag.IsLoggedIn == true)
                {
                    <p class="welcome">Welcome, @ViewBag.Username!</p>
                    <div class="side-item">
                        <a class="sidebar-icon" href="/Profile">
                            <img src="../images/icons/profile.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Profile/@ViewBag.Username" class="btn">Profile</a>
                    </div>
                    <div class="side-item">
                        <a class="sidebar-icon" href="/Logout">
                            <img src="../images/icons/logout.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Logout" class="btn">Logout</a>
                    </div>
                }
                else
                {
                    <div class="side-item">
                        <a class="sidebar-icon" class="sidebar-icon" href="/Login">
                            <img src="../images/icons/profile.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Login" class="btn">Login</a>
                    </div>
                    <div class="side-item">
                        <a class="sidebar-icon" href="/Register">
                            <img src="../images/icons/register.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Register" class="btn">Register</a>
                    </div>
                }
            </div>
        </div>
    </nav>
    <div class="body-inner">
    <header>
        <div class="container-fluid desk">
            <form asp-controller="Location" asp-action="Search" method="get" class="search-form">
                <input type="text" name="searchQuery" placeholder="Search by name or address" class="search-input" required>
                <button type="submit" class="search-button">&rsaquo;</button>
            </form>
        </div>
        <div class="container-fluid menu-in mob">
            <a class="logo-mobile" href="/">
                <img src="../images/icons/ff-logo.jpg" alt="Logo" asp-area="" asp-controller="Home" asp-action="Index">
            </a>
            <input id="check01" type="checkbox" name="menu" />
            <label for="check01"></label>
            <div class="header-buttons">
                @if (ViewBag.IsLoggedIn == true)
                {
                    <p class="welcome">Welcome, @ViewBag.Username!</p>
                    <div class="side-item">
                        <a class="sidebar-icon" href="/Profile">
                            <img src="../images/icons/profile.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Profile/@ViewBag.Username" class="btn">Profile</a>
                    </div>
                    <div class="side-item">
                        <a class="sidebar-icon" href="/Logout">
                            <img src="../images/icons/logout.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Logout" class="btn">Logout</a>
                    </div>
                }
                else
                {
                    <div class="side-item">
                        <a class="sidebar-icon" class="sidebar-icon" href="/Login">
                            <img src="../images/icons/profile.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Login" class="btn">Login</a>
                    </div>
                    <div class="side-item">
                        <a class="sidebar-icon" href="/Register">
                            <img src="../images/icons/register.jpg" alt="Profile">
                        </a>
                        <a class="sidebar-text" href="/Register" class="btn">Register</a>
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="foot">
            &copy; 2025 - FocusFinderApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
