@model FocusFinderApp.Models.Review
@{
    ViewData["Title"] = "Reviews";
}

<div>
    @{
        if (ViewBag.IsLoggedIn == null || ViewBag.IsLoggedIn == false)
        {
            <h2>To see a review, please sign in and ensure you have selected one of your own reviews.</h2>
            <a href="/Login" class="btn btn-primary">Go to Login</a>
        }
        else if (@ViewBag.currentUserId != @ViewBag.Review.userId) {
            <div>
                <h1 >You did not create this review and therefore cannot view it.</h1>
                <a href="/Reviews" class="btn btn-primary">Go to My Reviews</a>
            </div>
        }
        else{
            <div>
                <h1 > Review - Id @ViewBag.Review.id </h1>
                <p>Review for location: @ViewBag.Location.LocationName</p>
            </div>
            <h5>You're signed in! Edit your review below...</h5>
        }
    }
    
</div>


