@model FocusFinderApp.Models.Review
@{
    ViewData["Title"] = "Reviews";
}

<div>
    @{
        if (ViewBag.IsLoggedIn == null || ViewBag.IsLoggedIn == false)
        {
            <h2>To see a review, please sign in and ensure you have selected one of your own reviews.</h2>
            <a href="/Login" class="btn btn-primary">Go to Login</a>
        }
        else if (@ViewBag.currentUserId != @ViewBag.Review.userId) {
            <div>
                <h1 >You did not create this review and therefore cannot view it.</h1>
                <a href="/Reviews" class="btn btn-primary">Go to My Reviews</a>
            </div>
        }
        else{
            <div>
                <h1 > Review - Id @ViewBag.Review.id </h1>
                <p>Review for location: @ViewBag.Location.LocationName</p>
            </div>
            <p>Edit your review below...</p>
            
            <h4>Rate this place out of 5 stars!</h4>
            <p>1-5*</p>
            <p>Comments...</p>

            <h4>What tickled your fancy?</h4>

            <h4>Add tags!</h4>
        }
    }
    
</div>


