@model FocusFinderApp.Models.Achievement

<h2>Your Achievements</h2>

<div>
    <p>Reviews Left: @Model.reviewsLeft</p>
    <p>Visits: @Model.visits</p>
    <p>Distinct Cities Visited: @Model.citiesVisited</p>
    <p>Bookmarks: @Model.bookmarks</p>
</div>
