<form action="/Profile/Edit" method="post" enctype="multipart/form-data">
    <div>
        <label>First Name:</label>
        <input type="text" name="FirstName" value="@Model.FirstName">
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="LastName" value="@Model.LastName">
    </div>
    <div>
        <label>Default City:</label>
        <input type="text" name="DefaultCity" value="@Model.DefaultCity">
    </div>
    <div>
        <label>Profile Picture:</label>
        <input type="file" name="ProfilePictureFile">
    </div>
    <a href="/Profile/ChangePassword">Change Password</a>
    <button type="submit">Save Changes</button>
</form>