@{
    ViewData["Title"] = "New Location";
}

@{Console.WriteLine("Reached - NewLocation.cshtml");}

@* <head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head> *@

<div class="i-body-top body-top">
    <div class="text-center">
        <h1 class="display-4">Suggest A New Location</h1>
    </div>
</div>

@{
    if (ViewBag.IsLoggedIn == null || ViewBag.IsLoggedIn == false)
    {
        <h5>Please login to suggest a new location</h5>
        <a href="/Login" class="btn btn-primary">Go to Login</a>
    }
    else{
        <p>Please make sure to fill in all the boxes below, or we may not be able to approve your suggested location.</p>
        
        <form method="post" asp-controller="Location" asp-action="NewLocationForm">
            <fieldset>
                <!-- New Form -->
                <div>
                    <label for="SuggestedLocationName">What is this location called?</label>
                    <input name="SuggestedLocationName"/>
                </div>
                <div>
                    <label for="Description">Please give a brief description of this location</label>
                    <input name="Description"/>
                </div>
                <div>
                    <label for="BuildingIdentifier">Building Number/Name</label>
                    <input name="BuildingIdentifier"/>
                </div>
                <div>
                    <label for="StreetAddress">Street Address</label>
                    <input name="StreetAddress"/>
                </div>
                <div>
                    <label for="City">City</label>
                    <input name="City"/>
                </div>
                <div>
                    <label for="County">County</label>
                    <input name="County"/>
                </div>
                <div>
                    <label for="Postcode">Postcode</label>
                    <input name="Postcode"/>
                </div>
                <div>
                    <label for="ImageURL">URL of an image of the location (if possible)</label>
                    <input name="ImageURL"/>
                </div>
                <div>
                    <label for="locationURL">Location's Website</label>
                    <input name="locationURL"/>
                </div>
                <div>
                    <label for="Latitude">Latitude (can be found using Google Maps)</label>
                    <input name="Latitude"/>
                </div>
                <div>
                    <label for="Longitude">Longitude (can be found using Google Maps)</label>
                    <input name="Longitude"/>
                </div>


                <div>
                    <button type="submit">Submit Location Suggestion</button>
                </div>
                
            </fieldset>
        </form>
        
    }
}