@{
    ViewData["Title"] = "Location";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<div class="i-body-top body-top">
    <div class="text-center">
        <h1 class="display-4">Location Name</h1>
    </div>
</div>

<!-- Main Location Container -->
<div>

    <!-- Bio -->
    <div> 
        <p>Location Description:</p>
        <p>Here images description of the space.</p>
    </div>

    <!-- Image/s -->
    <div class="i-study-pic-container glow-back">
        <img src="~/images/Study image 1.jpg" alt="Study Image 1">
    </div>

    <!-- Reviews Section -->
    <div>
        <p>Reviews - Overall 5⭐</p>
        <p>Reviews breakdown ... ... ...</p>
    </div>

    <!-- Address/Map << Advanced? -->
    <div>
        <p>Where even is it?</p>
        <p>You are here</p>
    </div>

    <!-- URL for Location's own webapage -->
    <div>
        <p>Find out more information here:</p>
        <p>✨URL✨</p>
    </div>

</div>